fieldset.title {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    font-weight: 100;
    width: 100%;
  }
  
  fieldset.title legend {
    padding: 5px 10px;
  }
