.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }