.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(115, 115, 115);
}

.footer a:hover {
    text-decoration: underline;
}